body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    text-align: justify;
  }
  
  header {
    background-color: #003366;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  main {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }
  
  h1, h2 {
    margin-bottom: 0.5rem;
  }
  
  h3 {
    margin-top: 1.5rem;
  }
  
  a {
    color: #0056b3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  footer {
    text-align: center;
    background-color: #eee;
    padding: 1rem;
    font-size: 0.9rem;
  }
  
  .galeria-proyecto {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .galeria-proyecto img {
    max-width: 45%;
    width: 45%;
    height: auto; /* Esto asegura que la proporción se mantenga */
    display: block;
    object-fit: contain; /* Asegura que la imagen no se distorsione */
  } 