@font-face {
    font-family: 'ISOCP';
    src: url('ISOCP.woff2') format('woff2'),
        url('ISOCP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

